.posts-page-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  height: 100vh;
  justify-content: space-around;
}

.btn {
  margin: 20px;
  padding: 10px;
  border: 1px solid gray;
  color: white;
  background: none;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .posts-page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
