.post-list-body {
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  max-height: 80vh;
  overflow-y: auto;
}

.btn {
  margin: 20px;
  padding: 10px;
  border: 1px solid gray;
  color: white;
  border-radius: 5px;
}

#input-a {
  border-radius: 5px;
}
