.todo-container {
  li {
    text-align: left;
    margin: 40px 0px;
    display: flex;
    align-items: center;

    .round-checkbox {
      padding: 10px 10px;
      width: 3px;
      height: 3px;
      background: #333232;
      position: relative;
      border-radius: 50%;
      margin-right: 30px;
    }

    .todo-item {
      cursor: pointer;
    }
  }

  .completed {
    text-decoration: line-through;
    color: rgb(93, 94, 91);

    .arrow {
      height: 12px;
      width: 6px;
      border-right: 2px solid #fee234;
      border-bottom: 2px solid #fee234;
      position: absolute;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}
