.user-card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  text-decoration: none;
  color: rgb(173, 173, 172);
  text-align: center;
  border: 1px solid rgb(67, 99, 99);

  .icon {
    font-size: 60px;
    border-radius: 5px;
  }
  &:hover {
    color: #5873fb;
  }
}
