.user-detail-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  color: white;
  margin-top: 100px;

  .small-nav {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-radius: 0 5px;
    padding: 4px;
  }
}

@media (max-width: 800px) {
  .user-detail-container {
    margin-top: 20px;
    grid-template-columns: 1fr;
    height: 100%;
    justify-items: center;
  }
}
